.films-card {
  text-align: center;
  border: 1px solid white;
  color: white;
  position: relative;
}

.favourite-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: white;
  cursor: pointer;
  padding: 0.25rem;
}

.is-favourite {
  color: orange;
}
