nav {
  color: white;
  /* font-family: "Permanent Marker", cursive; */
}

nav > ul {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

ul > li {
  list-style: none;
}

.navbar-link {
  color: white;
}

.navbar-link:visited {
  color: white;
}
